<h1>Listing voteable_models</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @voteable_models.each do |voteable_model| %>
  <tr>
    <td><%= link_to 'Show', voteable_model %></td>
    <td><%= link_to 'Edit', edit_voteable_model_path(voteable_model) %></td>
    <td><%= link_to 'Destroy', voteable_model, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Voteable model', new_voteable_model_path %>
